# Node / Frontend
node_modules/
dist/
build/

# Python / Backend
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Environment Variables
.env
git rm -r --cached backend/database/__pycache__
git rm -r --cached backend/routes/__pycache__