# Node / Frontend
node_modules/
dist/
build/

# Python / Backend
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Environment Variables
.env
backend/.env
*.env

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db